* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:before,
    &:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    overflow-x: hidden;
}

body {
    font-family: Verdana, Arial, sans-serif;
    line-height: 100%;
    color: $black;
    background-color: $white;
    overflow-x: hidden;
    height: auto;
    min-height: 100vh;
    min-width: #{ screen(xxs) };
}

h1,
h2,
h3,
h4 {
    font-weight: 800;
    margin: 0 0 #{ rem(16px) } 0;
}

p {
    margin-bottom: #{ rem(32px) };
}

a {
    color: $primary;

    &:hover, &:active {
        text-decoration: none;
        color: inherit;
    }
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

button:focus {
    outline: none;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0 0 #{ rem(32px) } 0;
    padding: 0;
}
